.intro {
    &__pic {
        width: 100%;
    }
}

.adventages {
    font-weight: 300;
    font-size: 18px;

    &__title {
        text-align: center;
        max-width: 659px;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 50px;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        @media screen and (max-width: 532px) {
            font-size: 23px;
        }
    }

    &__container {
        max-width: 760px;
        margin: 0 auto;

        &-list {
            margin-left: 25px;

            &-item {
                margin-top: 10px;
                &::marker {
                    font-size: 12px;
                }
                &:first-child {
                    margin-top: 15px;
                }
            }
        }
        &-subtitle {
            font-size: 20px;
            font-weight: 400;
            color: #b17c50;
            margin-top: 30px;
        }

        &-text {
            max-width: 752px;

            &:not(:first-child) {
                margin-top: 30px;
            }
        }
    }
}

.date {
    text-align: center;
    margin-top: 20px;
    color: #b17c50;
    font-weight: 300;
    font-size: 12px;
}
.date-2 {
    color: #c4c4c4;
}
