.vacancies-intro {
    margin-top: 0;

    &__pic {
        width: 100%;
    }

    &__img {
        width: 100%;
    }
}

.vacancies {
    &__title {
        margin-bottom: 60px;
        font-weight: 400;
        font-size: 30px;
    }

    &__cell {
        &-container {
            display: flex;
            justify-content: space-between;

            &-button {
                background: none;
                border: none;
            }

            &-title {
                font-weight: 400;
                font-size: 20px;
            }
        }
    }

    &__description {
        &-list {
            margin-left: 19px;

            &-item {
                font-weight: 300;
                font-size: 14px;

                &::marker {
                    font-size: 12px;
                }
            }
        }

        &-salary {
            display: flex;

            &-box {
                &:not(:first-child) {
                    margin-left: 30px;
                }

                &-text {
                    font-weight: 300;
                    font-size: 14px;
                }
            }
        }
    }

    &__subtitle {
        font-weight: 300;
        font-size: 12px;
        color: #b17c50;
        margin-bottom: 5px;
        margin-top: 30px;
    }

    &__button {
        margin-top: 63px;

        &-link {
            font-weight: 400;
            font-size: 12px;
            background-color: #b17c50;
            padding: 13px 90px;
            color: white;

            &:hover {
                background-color: #e0cfbf;
            }
        }
    }
}

.wrapper {
    max-width: 1160px;
    margin: 0 auto;
}