.vacancies-intro {
    &__pic {
        width: 100%;
    }

    &__img {
        width: 100%;
    }
}

.vacancies {
    &__title {
        margin-bottom: 60px;
    }

    &__cell {
        &-container {
            display: flex;
            justify-content: space-between;

            &-button {
                background: none;
                border: none;
            }
        }
    }

    &__description {
        &-list {
            font-weight: 300;
            font-size: 14px;
            margin-left: 19px;

            &::marker {
                size: 10px;
            }

            &-item {
                &::marker {
                    size: 1px;
                }
            }
        }

        &-salary {
            display: flex;

            &-box {
                &:not(:first-child) {
                    margin-left: 30px;
                }

                &-text {
                    font-weight: 300;
                    font-size: 14px;
                }
            }
        }

    }

    &__subtitle {
        font-weight: 300;
        font-size: 12px;
        color: #B17C50;
        margin-bottom: 5px;
        margin-top: 30px;
    }

    &__button {
        margin-top: 63px;
        &-link {
            font-weight: 400;
            font-size: 12px;
            background-color: #B17C50;
            padding: 13px 90px;
            color: white;
            &:hover{
                 background-color: #E0CFBF;
            }
        }
    }
}

.wrapper {
    padding-right: 220px;
    padding-left: 220px;
}