.about-intro {
    background-image: url("../images/about-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 660px;
    display: flex;
    flex-direction: column;
    margin-top: 0;

    &__texts-box {
        max-width: 1160px;
        margin: auto;
        margin-bottom: 50px;

        &-text {
            &:first-child {
                color: #ffffff;
                font-weight: 300;
                font-size: 18px;
            }

            &:last-child {
                font-weight: 400;
                font-size: 18px;
                color: #ffffff;
                margin-top: 20px;
            }
        }
    }
}

.story {
    max-width: 1600px;
    margin: auto;

    &__box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        margin-top: 120px;
        grid-gap: 40px;

        &-text {
            max-width: 545px;
            font-weight: 300;
            font-size: 18px;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }

            &_quote {
                position: relative;
                display: flex;

                @media screen and (max-width: 870px) {
                    color: white;
                }

                &::before {
                    content: "\0022";
                    display: block;
                    font-size: 30px;
                    margin-top: -10px;
                    margin-right: 5px;
                    font-weight: 500;
                }

                span {
                    position: absolute;
                    bottom: -20px;
                    right: 0;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 17px;
                    color: #b17c50;
                    display: flex;
                    align-items: center;
                    

                    &::before {
                        content: "";
                        display: block;
                        width: 50px;
                        height: 1px;
                        background-color: #b17c50;
                        margin-right: 15px;
                    }
                }
            }
        }

        &-pic {
            height: 100%;
            width: 100%;
        }

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 60% center;
        }

        &-subtitle {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            margin-bottom: 50px;
            max-width: 545px;
            margin-left: auto;
        }

        &-inner:first-child {
            .story__box-text {
                margin-left: auto;
            }
        }
    }
}

@media screen and (max-width: 870px) {
    .display-block {
        display: none;
    }
    .story__box-pic{
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }
    .pad-block {
        padding-right: 20px;
        padding-left: 20px;
        margin-top: 60px;
    }

    .story__box {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }

    .blur-block {
        // padding-top: 30px;
        // padding-bottom: 30px;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }

    .story__box-inner  {
        padding: 75px 40px;
        &:first-child {
            .story__box-text{
                margin: auto;
              
            }
            margin-top: 0;

        }
        
    }

    .blur-block {
        position: relative;
        z-index: 2;
    }

    .story-block-quot {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
        padding-left: 0;
        padding-right: 0;
        // flex-direction: column;
        // justify-content: space-around;
        position: relative;

        &::before {
            content: "";
            background: rgba(196, 196, 196, 0.01);
            backdrop-filter: blur(5px);
            display: block;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
            z-index: 1;
            transition: 2s;
        }

            &-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }

        .story {
            &__box {
                &-text {
                    font-weight: 300;
                    font-size: 12px;
                }
            }
        }

        // &-inner {
        //     position: relative;
        //     z-index: 1;
        //     padding: 110px 50px;
        // }
    }
}

@media screen and (max-width: 1160px) {
    .story {
        padding: 0;
    }
}