.about-intro {
    background-image: url("../images/about-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 660px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    &__texts-box {
        max-width: 1160px;
        margin: auto;
        margin-bottom: 50px;

        &-text {
            &:first-child {
                color: #ffffff;
                font-weight: 300;
                font-size: 18px;
            }

            &:last-child {
                font-weight: 400;
                font-size: 18px;
                color: #ffffff;
                margin-top: 20px;
            }
        }
    }
}

.story {
    max-width: 1600px;
    margin: auto;

    &__box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        margin-top: 120px;
        grid-gap: 40px;

        &-text {
            max-width: 545px;
            font-weight: 300;
            font-size: 18px;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }

            &_quote {
                position: relative;
                display: flex;

                &::before {
                    content: "\0022";
                    display: block;
                    font-size: 30px;
                    margin-top: -10px;
                    margin-right: 5px;
                    font-weight: 500;
                }

                span {
                    position: absolute;
                    bottom: -15px;
                    right: 0;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 17px;
                    color: #b17c50;
                    display: flex;
                    align-items: center;

                    &::before {
                        content: "";
                        display: block;
                        width: 50px;
                        height: 1px;
                        background-color: #b17c50;
                        margin-right: 15px;
                    }
                }
            }
        }

        &-img {
            width: 100%;
        }

        &-subtitle {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            margin-bottom: 50px;
        }
    }
}
