.error {
    background-image: url("../images/404.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: #b67977;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 100%;
    margin-top: 0;
    &__box {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        &-title {
            font-weight: 400;
            font-size: 30px;
            color: #ffffff;
            margin-bottom: 10px;
        }
        &-text {
            font-weight: 300;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
        }
        &-link {
            color: #ffffff;
            font-weight: 400;
            font-size: 18px;
            margin-top: 44px;
            background-color: #2d2825;
            padding: 14px 64px;
            text-align: center;
            transition: all 0.3s ease;
            &:hover {
                background-color: #b17c50;
            }
        }
    }
}
