.catalog {
    margin-top: 0;
    &__inner {
        max-width: 1160px;
        margin: auto;
    }
    &__pic {
        margin-bottom: 5px;
    }

    &__img {
        width: 100%;
    }

    &__top {
        margin-top: 30px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__title {
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        text-transform: uppercase;
        color: #2d2825;
    }

    &__sort {
        border: none;
        background: none;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #2d2825;
        text-align: right;
        margin-right: 5px;
    }

    .woocommerce-ordering {
        display: flex;
        align-items: center;
    }

    .added_to_cart.wc-forward {
        display: none;
    }

    &__nav {
        margin-top: 35px;
    }

    &__nav-list {
        list-style-type: none;
        display: flex;
        border-bottom: 1px solid #e5e5e5;
        overflow-x: scroll;
    }

    &__nav-list-item-link {
        display: inline-block;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #c4c4c4;
        transition: all 0.3s ease;
        padding-bottom: 3px;
        white-space: nowrap;
        &:hover {
            color: #b17c50;
        }
    }

    &__nav-list-item {
        margin-right: 30px;
        &.active &-link {
            color: #2d2825;
            border-bottom: 2px solid #3d3632;
        }
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 45px;
        margin-top: 50px;
    }

    &__bottom {
        border-bottom: 1px solid #e5e5e5;
        margin-top: 50px;
        display: flex;
    }

    &__pages {
        list-style-type: none;
        display: flex;
        margin-left: auto;
    }

    &__pages-item-link {
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        color: #2d2825;
        display: inline-block;
        transition: all 0.3s ease;
        &:hover {
            color: #b17c50;
        }
    }

    &__pages-item {
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
        &.active &-link {
            font-weight: 400;
            border-bottom: 2px solid #2d2825;
            padding-bottom: 3px;
        }
    }
}

@media screen and (max-width: 1160px) {
    .catalog {
        padding-left: 0;
        padding-right: 0;
        &__inner {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .catalog {
        &__body {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media screen and (max-width: 750px) {
    .catalog {
        &__body {
            grid-template-columns: repeat(2, 260px);
            justify-content: center;
        }
    }
}

@media screen and (max-width: 600px) {
    .catalog {
        &__body {
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
        }
    }
}

@media screen and (max-width: 500px) {
    .catalog {
        &__top {
            flex-direction: column;
            align-items: flex-start;
        }
        &__sort {
            margin-top: 30px;
        }
        &__nav {
            margin-top: 20px;
        }
        &__body {
            grid-gap: 20px;
        }
    }
}
