.cart-wrapper {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.cart {
    &__title {
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        text-transform: uppercase;
        color: #2d2825;
        margin-top: 30px;
    }

    &__body {
        margin-top: 55px;

        .cart {
            &_item {
                display: flex;
                // display: grid;
                // grid-template-columns: .1fr 1fr 3fr 1fr 1.5fr 1fr;
                border-bottom: 1px solid #2d2825;
                padding-bottom: 30px;
                margin-bottom: 30px;
            }
        }

        .product-remove {
            margin-right: 20px;

            a {
                path {
                    transition: all 0.3s ease;
                }

                &:hover {
                    path {
                        stroke: #bb1a1a;
                    }
                }
            }
        }

        .product-thumbnail {
            width: 100%;
            max-width: 130px;
            height: auto;
            max-height: 130px;
            margin-right: 20px;

            a {
                display: block;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }
        }

        .product-name {
            max-width: 270px;

            a {
                font-family: "Museo Sans Cyrl 500", sans-serif;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #2d2825;
            }
        }

        .product-price,
        .product-subtotal {
            margin-left: auto;

            .amount {
                font-weight: 400;
                font-size: 25px;
                line-height: 30px;
                color: #2d2825;
            }
        }

        .product-subtotal {
            margin-left: 0;
            text-align: right;
        }

        .product-quantity {
            margin-left: auto;
            margin-right: auto;

            .screen-reader-text {
                width: 0;
                height: 0;
                visibility: hidden;
                display: block;
            }
        }

        .product__controls {
            margin-top: 55px;
            display: flex;
            align-items: center;

            &-inner {
                display: flex;
                align-items: center;
                height: 50px;
                border: 1px solid #2d2825;

                .product__num-btn {
                    border: none;
                    background: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 100%;
                    cursor: pointer;

                    svg {
                        pointer-events: none;

                        path {
                            transition: all 0.3s ease;
                        }
                    }

                    &:hover {
                        svg path,
                        svg rect {
                            fill: #b17c50;
                        }
                    }
                }

                .input-text.qty {
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 24px;
                    color: #2d2825;
                    text-align: center;
                    appearance: none;
                    max-width: 40px;
                    border: none;
                    -moz-appearance: textfield;

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        appearance: none;
                    }
                }
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;

        .coupon {
            display: flex;
            flex-wrap: wrap;

            label {
                width: 100%;
                font-weight: 400;
                font-size: 25px;
                line-height: 30px;
                color: #2d2825;
                margin-bottom: 40px;
            }

            input {
                padding: 14px;
                font-weight: 300;
                font-size: 18px;
                line-height: 22px;
                color: #2d2825;
                border: 1px solid #2d2825;
                margin-right: 15px;
            }

            button {
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: #ffffff;
                background-color: #2d2825;
                border: none;
                padding: 14px 60px;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    background-color: #b17c50;
                }
            }
        }
    }

    &__sum {
        width: 100%;
        max-width: 400px;

        &-text {
            display: flex;
            justify-content: space-between;
            font-weight: 400;
            font-size: 25px;
            line-height: 30px;
            color: #2d2825;
            margin-bottom: 40px;
        }

        &-order {
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #ffffff;
            background-color: #b17c50;
            display: block;
            padding: 14px;
            text-align: center;
            margin-bottom: 20px;
            transition: all 0.3s ease;

            &:hover {
                background-color: #e0cfbf;
            }
        }

        &-shop {
            border: 1px solid;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #2d2825;
            background-color: transparent;
            display: block;
            padding: 14px;
            text-align: center;
            margin-bottom: 20px;
            transition: all 0.3s ease;

            &:hover {
                color: #fff;
                background-color: #000;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .cart__bottom {
        display: flex;
        flex-direction: column;

        .coupon {
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: 920px) {
    .cart {
        &__body {
            .cart_item {
                display: flex;
                flex-wrap: wrap;
            }

            .product-name {
                max-width: 100%;
                margin-top: 15px;
            }

            .product-subtotal {
                width: 80%;
                margin-left: 0;
                margin-top: 30px;
                text-align: left;
                &::before {
                    content: "Итого:";
                    display: inline-block;
                    font-size: 20px;
                    margin-right: 3px;
                }
            }

            .product-price {
                margin-top: 20px;
                display: flex;
                align-items: center;
                width: auto;
                margin-left: 0;
                padding-bottom: 5px;
            }

            .product-quantity {
                margin-top: 10px;
                width: 90%;
                margin-left: 0;
                margin-right: 0;

                .product__controls-inner {
                    max-width: 120px;
                }
            }
        }
    }
}

@media screen and (max-width: 610px) {
    .cart__sum {
        max-width: 100%;
    }

    .cart__bottom .coupon button {
        margin-top: 20px;
        width: 100%;
        max-width: 100%;
    }

    .cart__bottom .coupon input {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
    }
}
