.product {
    max-width: 1160px;
    margin: auto;
    margin-top: 120px;
    &__top {
        margin-top: 50px;
        display: flex;
    }

    &__gallery {
        display: flex;
    }

    &__thumbs {
        width: 60px;
        max-height: 430px;
        margin: 0 !important;
        .swiper-slide {
            cursor: pointer;
        }
        .swiper-slide-thumb-active {
            opacity: 0.7;
        }
    }

    &__thumbs-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__slider {
        margin-left: 40px;
        width: 100%;
        max-width: 460px;
        height: 430px;
        position: relative;
        .swiper-button-next,
        .swiper-rtl .swiper-button-prev {
            right: -35px;
        }
        .swiper-button-prev,
        .swiper-rtl .swiper-button-next {
            left: -35px;
        }
        .swiper-button-next,
        .swiper-button-prev {
            &::after {
                display: none;
            }
            svg path {
                transition: all 0.3s ease;
            }
            &:hover svg path {
                stroke: #b17c50;
            }
        }
    }

    &__slider-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__info {
        width: 100%;
        margin-left: 100px;
    }

    &__title {
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        color: #2d2825;
        &-wrapper {
            display: flex;
            align-items: center;
        }
    }
    &__favorite {
        border: none;
        background: none;
        cursor: pointer;
        svg {
            margin-left: 15px;
        }
        path {
            transition: all 0.3s ease;
        }
        &:hover {
            path {
                stroke: #b17c50;
            }
        }
    }
    &__subtitle {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #9d9d9c;
        margin-top: 3px;
        margin-bottom: 20px;
    }
    &__cost {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #2d2825;
        margin-bottom: 30px;
    }
    &__short {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #2d2825;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__controls {
        margin-top: 55px;
        display: flex;
        align-items: center;
    }
    &__buy {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #ffffff;
        border: 1px solid;
        background-color: #b17c50;
        padding: 14px 70px;
        margin-left: 15px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
            background-color: #e0cfbf;
        }
    }

    &__body {
        margin-top: 120px;
    }

    &__label {
        display: block;
        border-bottom: 1px solid #9d9d9c;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    &__checkbox {
        display: none;
    }

    &__btn {
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #2d2825;
        cursor: pointer;
        svg {
            transition: all 0.5s ease;
        }
    }

    &__desc-wrapper {
        height: auto;
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s ease;
    }

    &__desc {
        font-weight: 300;
        font-size: 14px;
        line-height: 125%;
        color: #2d2825;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 10px;
        }
        &:first-child {
            margin-top: 30px;
        }
    }
    &__checkbox:checked ~ &__desc-wrapper {
        max-height: 2000px;
    }
    &__checkbox:checked ~ &__btn svg {
        transform: rotate(45deg);
    }
}
