.intro {
    margin-top: 0;
    &__title {
        visibility: hidden;
        pointer-events: none;
        height: 0;
        width: 0;
    }

    &__slider {
        width: 100%;
        height: 100vh;
        .swiper-buttons {
            max-width: 100%;
            width: 100%;
            position: absolute;
            top: 50%;
            &-inner {
                max-width: 1160px;
                margin: auto;
                position: relative;
            }
        }
        .swiper-button-next,
        .swiper-button-prev {
            &::after {
                display: none;
            }
        }
        .swiper-pagination-bullet {
            border-radius: 0;
            height: 1px;
            background-color: #ffffff;
            width: 14px;
            opacity: 1;
            transition: all 0.3s ease;
        }
        .swiper-pagination-bullet-active {
            background-color: #b17c50;
            height: 2px;
        }
    }
    .swiper-slide {
        .intro__slider-pic {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .intro__slider-box {
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            max-width: 1160px;
            margin: auto;
            padding-left: 55px;
            h2 {
                font-weight: 400;
                font-size: 30px;
                line-height: 36px;
                text-transform: uppercase;
                color: #ffffff;
            }
            p {
                font-weight: 200;
                font-size: 20px;
                line-height: 24px;
                text-transform: uppercase;
                color: #ffffff;
                margin-top: 15px;
                margin-bottom: 35px;
            }
            a {
                background-color: #2d2825;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: #ffffff;
                padding: 14px 50px;
                display: flex;
                align-items: center;
                max-width: 210px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                &:hover {
                    background-color: #b17c50;
                }
            }
        }
    }
}
.new-products {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    &__title {
        margin-bottom: 50px;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: #2d2825;
    }

    &__slider {
        overflow: hidden;
        margin-bottom: 30px;
    }

    &__link {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #2d2825;
    }
    .card {
        max-width: 100%;
    }
}

@media screen and (max-width: 1160px) {
    .intro {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 700px) {
    .new-products {
        &__title {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 20px;
        }
        &__link {
            font-size: 14px;
            line-height: 17px;
        }
    }
}
