.intro {
    margin-top: 0;
    &__title {
        visibility: hidden;
        pointer-events: none;
        height: 0;
        width: 0;
    }

    &__slider {
        width: 100%;
        height: 100vh;
        .swiper-buttons {
            max-width: 100%;
            width: 100%;
            position: absolute;
            top: 50%;
            &-inner {
                max-width: 1160px;
                margin: auto;
                position: relative;
            }
        }
        .swiper-button-next,
        .swiper-button-prev {
            svg {
                path {
                    transition: all 0.3s ease;
                }
            }
            &:hover {
                svg {
                    path {
                        stroke: #b17c50;
                    }
                }
            }
            &::after {
                display: none;
            }
        }
        .swiper-button-prev,
        .swiper-rtl .swiper-button-next {
            left: 0;
        }
        .swiper-button-next,
        .swiper-rtl .swiper-button-prev {
            right: 0;
        }
        .swiper-pagination-bullet {
            border-radius: 0;
            height: 1px;
            background-color: #ffffff;
            width: 14px;
            opacity: 1;
            transition: all 0.3s ease;
        }
        .swiper-pagination-bullet-active {
            background-color: #b17c50;
            height: 2px;
        }
    }
    .swiper-slide {
        .intro__slider-pic {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .intro__slider-box {
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            max-width: 1160px;
            margin: auto;
            padding-left: 55px;
            h2 {
                font-weight: 400;
                font-size: 30px;
                line-height: 36px;
                text-transform: uppercase;
                color: #ffffff;
            }
            p {
                font-weight: 200;
                font-size: 20px;
                line-height: 24px;
                text-transform: uppercase;
                color: #ffffff;
                margin-top: 15px;
                margin-bottom: 35px;
            }
            a {
                background-color: #2d2825;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: #ffffff;
                padding: 14px 50px;
                display: flex;
                align-items: center;
                max-width: 210px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                &:hover {
                    background-color: #b17c50;
                }
            }
        }
    }
}

.new-products {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    &__title {
        margin-bottom: 50px;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: #2d2825;
    }

    &__slider {
        overflow: hidden;
        margin-bottom: 30px;
        position: relative;
        .swiper-button-prev,
        .swiper-rtl .swiper-button-next {
            left: 0;
        }
        .swiper-button-next,
        .swiper-rtl .swiper-button-prev {
            right: 0;
        }
        .swiper-button-prev,
        .swiper-button-next {
            transition: all 0.3s ease;
            &::after {
                display: none;
            }
            svg {
                width: 100%;
                height: 100%;
                rect {
                    transition: all 0.3s ease;
                }
            }
            &:hover {
                svg {
                    rect {
                        fill: #b17c50;
                    }
                }
            }
        }
        .swiper-button-next.swiper-button-disabled,
        .swiper-button-prev.swiper-button-disabled {
            opacity: 0;
        }
    }

    &__link {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #2d2825;
        transition: color 0.3s ease;
        svg {
            path {
                transition: all 0.3s ease;
            }
        }
        &:hover {
            color: #b17c50;
            svg path {
                fill: #b17c50;
            }
        }
    }
    .card {
        max-width: 100%;
    }
}

.about {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 100px;

    &__pic-img {
        width: 100%;
    }

    &__box {
        max-width: 560px;
    }

    &__title {
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: #2d2825;
    }

    &__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #2d2825;
        margin-top: 30px;
        margin-bottom: 60px;
    }

    &__quot {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #2d2825;
        position: relative;
        display: flex;
        &::before {
            content: "\0022";
            display: block;
            font-size: 30px;
            margin-top: -10px;
            margin-right: 5px;
            font-weight: 500;
            color: #b17c50;
        }
        span {
            position: absolute;
            bottom: -25px;
            right: 0;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #b17c50;
            display: flex;
            align-items: center;
            &::before {
                content: "";
                display: block;
                width: 50px;
                height: 1px;
                background-color: #b17c50;
                margin-right: 15px;
            }
        }
    }

    &__link {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-top: 70px;
        color: #2d2825;
        display: inline-block;
    }
}

.partners {
    overflow: hidden;
    position: relative;
    padding-bottom: 70px;
    &__title {
        max-width: 1160px;
        margin: auto;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: #2d2825;
        margin-bottom: 50px;
    }

    &__slider {
        display: flex;
        align-items: center;
        animation: scroll-slides 40s linear infinite;
        &_reverse {
            animation: scroll-slides-reverse 40s linear infinite;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    &__slider-item {
        min-width: 215px;
        width: 215px;
        margin-right: 50px;
    }

    &__slider-item-img {
        width: 100%;
    }
}

@media screen and (max-width: 1160px) {
    .intro {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 870px) {
    .about {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        &::before {
            content: "";
            background: rgba(196, 196, 196, 0.01);
            backdrop-filter: blur(5px);
            display: block;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
            z-index: 1;
        }
        &__pic {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            &-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        &__box {
            position: relative;
            z-index: 1;
            padding: 100px 70px;
        }
        &__title,
        &__text,
        &__quot {
            color: #ffffff;
        }
        &__quot {
            span {
                right: auto;
                left: 18px;
            }
        }
        &__link {
            color: #ffffff;
        }
    }
}

@media screen and (max-width: 700px) {
    .new-products {
        &__title {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 20px;
        }
        &__link {
            font-size: 14px;
            line-height: 17px;
        }
        &__slider {
            .swiper-button-next,
            .swiper-button-prev {
                width: 18px;
                height: 21px;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .about {
        &__box {
            padding: 70px 40px;
        }
        &__title {
            font-size: 20px;
            line-height: 24px;
        }
        &__text,
        &__quot {
            font-size: 12px;
            line-height: 15px;
        }
        &__quot {
            span {
                font-size: 12px;
                line-height: 15px;
                white-space: nowrap;
            }
        }
        &__link {
            font-size: 14px;
            line-height: 17px;
        }
    }
    .partners {
        padding-bottom: 40px;
        &__title {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 20px;
        }
        &__slider {
            &-item {
                min-width: 105px;
                width: 105px;
            }
        }
    }
}
