.intro {
    margin-top: 0;
    &__title {
        visibility: hidden;
        pointer-events: none;
        height: 0;
        width: 0;
    }

    &__slider {
        width: 100%;
        height: 100vh;
        .swiper-buttons {
            max-width: 100%;
            width: 100%;
            position: absolute;
            top: 50%;
            &-inner {
                max-width: 1160px;
                margin: auto;
                position: relative;
            }
        }
        .swiper-button-next,
        .swiper-button-prev {
            svg {
                path {
                    transition: all 0.3s ease;
                }
            }
            &:hover {
                svg {
                    path {
                        stroke: #b17c50;
                    }
                }
            }
            &::after {
                display: none;
            }
        }
        .swiper-button-prev,
        .swiper-rtl .swiper-button-next {
            left: 0;
        }
        .swiper-button-next,
        .swiper-rtl .swiper-button-prev {
            right: 0;
        }
        .swiper-pagination-bullet {
            border-radius: 0;
            height: 1px;
            background-color: #ffffff;
            width: 14px;
            opacity: 1;
            transition: all 0.3s ease;
        }
        .swiper-pagination-bullet-active {
            background-color: #b17c50;
            height: 2px;
        }
    }
    .swiper-slide {
        .intro__slider-pic {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .intro__slider-box {
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            max-width: 1160px;
            margin: auto;
            padding-left: 55px;
            h2 {
                font-weight: 400;
                font-size: 30px;
                line-height: 36px;
                text-transform: uppercase;
                color: #ffffff;
            }
            p {
                font-weight: 200;
                font-size: 20px;
                line-height: 24px;
                text-transform: uppercase;
                color: #ffffff;
                margin-top: 15px;
                margin-bottom: 35px;
            }
            a {
                background-color: #2d2825;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: #ffffff;
                padding: 14px 50px;
                display: flex;
                align-items: center;
                max-width: 210px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                &:hover {
                    background-color: #b17c50;
                }
            }
        }
    }
}

.about {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 100px;

    &__pic-img {
        width: 100%;
    }

    &__box {
        max-width: 560px;
    }

    &__title {
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: #2d2825;
    }

    &__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #2d2825;
        margin-top: 30px;
        margin-bottom: 60px;
    }

    &__quot {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #2d2825;
        position: relative;
        display: flex;
        &::before {
            content: "\0022";
            display: block;
            font-size: 30px;
            margin-top: -10px;
            margin-right: 5px;
            font-weight: 500;
            color: #b17c50;
        }
        span {
            position: absolute;
            bottom: -25px;
            right: 0;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #b17c50;
            display: flex;
            align-items: center;
            &::before {
                content: "";
                display: block;
                width: 50px;
                height: 1px;
                background-color: #b17c50;
                margin-right: 15px;
            }
        }
    }

    &__link {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-top: 70px;
        color: #2d2825;
        display: inline-block;
        transition: color 0.3s ease;
        &:hover {
            color: #b17c50;
        }
    }
}

.partners {
    overflow: hidden;
    position: relative;
    padding-bottom: 70px;
    &__title {
        max-width: 1160px;
        margin: auto;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: #2d2825;
        margin-bottom: 50px;
    }

    &__slider {
        display: flex;
        align-items: center;
        animation: scroll-slides 40s linear infinite;
        &_reverse {
            animation: scroll-slides-reverse 40s linear infinite;
            position: absolute;
            right: 0;
            bottom: 0;
            margin-top: 10px;
        }
    }

    &__slider-item {
        min-width: 215px;
        width: 215px;
        margin-right: 50px;
    }

    &__slider-item-img {
        width: 100%;
    }
}

.plus {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    &__pic {
        width: 100%;
        padding-right: 60px;
    }
    &__row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 60px;
        align-items: center;
        margin-bottom: 50px;
        &:last-child {
            margin-bottom: 0;
        }
        &:nth-child(2) {
            .plus__inner {
                margin-left: auto;
            }
            .plus__pic {
                padding-left: 60px;
                padding-right: 0;
            }
        }
    }

    &__pic-img {
        width: 100%;
    }

    &__title {
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        color: #2d2825;
        margin-bottom: 15px;
    }

    &__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #2d2825;
    }
}

.reviews {
    background-color: #2d2825;
    &__inner {
        max-width: 1160px;
        margin: auto;
        overflow: hidden;
        padding-top: 50px;
        padding-bottom: 50px;
        position: relative;
    }

    &__title {
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: #ffffff;
        margin-bottom: 50px;
    }

    &__slider {
        max-width: 980px;
        margin: auto;
        overflow: hidden;
        .swiper-button-next,
        .swiper-button-prev {
            svg path {
                transition: all 0.3s ease;
            }
            &:hover svg path {
                stroke: #b17c50;
            }
            &::after {
                display: none;
            }
        }
    }

    &__item-pic {
        margin-bottom: 5px;
    }

    &__item-img {
        width: 100%;
    }

    &__item-stars {
        margin-bottom: 10px;
        svg {
            margin-right: 5px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__item-text {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
    }

    &__item-auth {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
        margin-top: 10px;
        svg {
            margin-right: 6px;
        }
    }
}

.blog {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    &__title {
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: #2d2825;
        margin-bottom: 5px;
    }

    &__subtitle {
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        color: #2d2825;
        margin-bottom: 50px;
    }

    &__box {
        display: flex;
        gap: 60px;
    }

    &__main {
        max-width: 700px;
        width: 100%;
        position: relative;
        &-inner {
            position: sticky;
            top: 100px;
        }
    }

    &__main-item {
        display: flex;
        flex-direction: column;
    }

    &__main-item-pic {
        width: 100%;
    }

    &__main-item-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__main-item-date {
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        color: #e0cfbf;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    &__main-item-name {
        font-weight: 300;
        font-size: 30px;
        line-height: 37px;
        color: #2d2825;
    }

    &__all {
        width: 100%;
        max-width: 400px;
        margin-top: 115px;
    }

    &__all-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__all-item-img {
        width: 100%;
    }

    &__all-item-date {
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        color: #e0cfbf;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    &__all-item-name {
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        color: #2d2825;
    }
}

@media screen and (max-width: 1160px) {
    .intro,
    .plus {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 1000px) {
    .plus {
        &__pic {
            padding: 0;
            height: 100%;
            min-height: 200px;
            &-img {
                height: 100%;
                object-fit: cover;
            }
        }
        &__inner {
            max-width: 310px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        &__row {
            grid-gap: 20px;
            &:nth-child(2) {
                .plus__pic {
                    padding: 0;
                }
            }
        }
    }
    .blog {
        &__box {
            flex-direction: column;
            gap: 0;
        }
        &__main {
            max-width: 100%;
            margin-bottom: 30px;
            &-inner {
                position: static;
            }
            &-item {
                &-name {
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
        &__all {
            margin-top: 0;
            max-width: 100%;
            &-item {
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 870px) {
    .about {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        &::before {
            content: "";
            background: rgba(196, 196, 196, 0.01);
            backdrop-filter: blur(5px);
            display: block;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
            z-index: 1;
        }
        &__pic {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            &-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        &__box {
            position: relative;
            z-index: 1;
            padding: 100px 70px;
        }
        &__title,
        &__text,
        &__quot {
            color: #ffffff;
        }
        &__quot {
            span {
                right: auto;
                left: 18px;
            }
        }
        &__link {
            color: #ffffff;
        }
    }
}

@media screen and (max-width: 770px) {
    .reviews,
    .intro {
        &__slider {
            .swiper-button-next,
            .swiper-button-prev {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .plus {
        &__pic {
            min-height: auto;
        }
        &__inner {
            margin: auto;
            margin-top: 20px;
            margin-bottom: 40px;
            max-width: 100%;
            padding-left: 20px;
            padding-right: 20px;
        }
        &__row {
            display: block;
            margin-bottom: 0;
            &:nth-child(2) {
                display: flex;
                flex-direction: column-reverse;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .intro {
        & .swiper-slide &__slider {
            &-box {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    .about {
        &__box {
            padding: 70px 40px;
        }
        &__title {
            font-size: 20px;
            line-height: 24px;
        }
        &__text,
        &__quot {
            font-size: 12px;
            line-height: 15px;
        }
        &__quot {
            span {
                font-size: 12px;
                line-height: 15px;
                white-space: nowrap;
                &::before {
                    width: 20px;
                }
            }
        }
        &__link {
            font-size: 14px;
            line-height: 17px;
        }
    }
    .partners {
        padding-bottom: 40px;
        &__title {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 20px;
        }
        &__slider {
            &-item {
                min-width: 105px;
                width: 105px;
            }
        }
    }
    .plus {
        &__title {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 5px;
        }
        &__text {
            font-size: 14px;
            line-height: 17px;
        }
    }
    .reviews {
        &__inner {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        &__title {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 20px;
        }
    }
    .blog {
        &__title {
            font-size: 20px;
            line-height: 24px;
        }
        &__subtitle {
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 15px;
        }
        &__main,
        &__all {
            &-item {
                &-name {
                    font-size: 14px;
                    line-height: 17px;
                }
                &-date {
                    margin-bottom: 5px;
                }
            }
        }
    }
}
