.thanks {
    &__back {
        color: #c4c4c4;
        font-weight: 300;
        font-size: 18px;
        transition: color 0.3s ease;
        &:hover {
            color: #b17c50;
        }
    }

    &__navigation {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 600px) {
            flex-direction: column;
        }
    }

    &__order {
        &-title {
            font-weight: 400;
            font-size: 30px;
            color: #b17c50;
            margin-bottom: 36px;
            margin-top: 40px;
        }

        &-container {
            display: flex;
            @media screen and (max-width: 600px) {
                flex-direction: column;
            }

            &-content {
                &:not(:first-child) {
                    margin-left: 70px;
                    @media screen and (max-width: 600px) {
                        margin-left: 0px;
                        margin-top: 20px;
                    }
                }

                &-list {
                    list-style: none;
                    font-weight: 300;
                    font-size: 18px;
                    color: #9d9d9c;

                    &-item {
                        display: flex;
                        &:not(:first-child) {
                            margin-top: 10px;
                        }
                        &-characteristic {
                            font-weight: 300;
                            font-size: 18px;
                            color: #2d2825;
                            margin-left: 5px;
                        }
                    }
                }

                &-subtitle {
                    font-weight: 400;
                    font-size: 25px;
                    color: #2d2825;
                    margin-bottom: 20px;
                }

                &-title {
                    color: #b17c50;
                    font-weight: 400;
                    font-size: 18px;
                    margin-top: 10px;
                }
            }
        }
    }

    &__wrapper-button {
        margin-top: 60px;
    }

    &__button {
        border: 1px solid #2d2825;
        padding: 14px 108px;
        color: #2d2825;
        font-weight: 400;
        font-size: 18px;
        transition: all 0.3s ease;
        &:hover {
            background-color: #2d2825;
            color: white;
        }
        @media screen and (max-width: 460px) {
            display: flex;
            width: 100%;
            height: 100%;
            font-size: 14px;
            justify-content: center;
            padding: 18px 50px;
        }
    }
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

@media screen and (max-width: 700px) {
    .thanks {
        margin-top: 100px;
    }
}
