.thanks {
    &__back {
        color: #C4C4C4;
        font-weight: 300;
        font-size: 18px;
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
    }

    &__order {
        &-title {
            font-weight: 400;
            font-size: 30px;
            color: #B17C50;
            margin-bottom: 36px;
            margin-top: 40px;
        }

        &-container {
            display: flex;

            &-content {
                &:not(:first-child) {
                    margin-left: 70px;
                }

                &-list {
                    list-style: none;
                    font-weight: 300;
                    font-size: 18px;
                    color: #9D9D9C;

                    &-item {
                        &:not(:first-child) {
                            margin-top: 10px;
                        }
                    }
                }

                &-subtitle {
                    font-weight: 400;
                    font-size: 25px;
                    color: #2D2825;
                    margin-bottom: 20px;
                }

                &-title {
                    color: #B17C50;
                    font-weight: 400;
                    font-size: 18px;
                    margin-top: 10px;
                }
            }
        }
    }
    &__wrapper-button{
        margin-top: 60px;
    }
    &__button {
        border: 1px solid #2D2825;
        padding: 14px 108px;
        color: #2D2825;
        font-weight: 400;
        font-size: 18px;
    }
}