.thanks {

    // max-width: 1160px;
    // margin: 0 auto;
    &__back {
        color: #C4C4C4;
        font-weight: 300;
        font-size: 18px;

        &:hover {
            color: #B17C50;
        }
    }

    &__navigation {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 600px) {
            flex-direction: column;
        }
    }

    &__order {
        &-title {
            font-weight: 400;
            font-size: 30px;
            color: #B17C50;
            margin-bottom: 36px;
            margin-top: 40px;
        }

        &-container {
            display: flex;
            @media screen and (max-width: 600px) {
                flex-direction: column;
            }

            &-content {
                &:not(:first-child) {
                    margin-left: 70px;
                    @media screen and (max-width: 600px) {
                        margin-left: 0px;
                        margin-top: 20px;
                    }
                }

                &-list {
                    list-style: none;
                    font-weight: 300;
                    font-size: 18px;
                    color: #9D9D9C;

                    &-item {
                        &:not(:first-child) {
                            margin-top: 10px;
        
                        }
                        &-characteristic {
                            font-weight: 300;
                            font-size: 18px;
                            color: #2D2825;
                        }
                    }
                }

                &-subtitle {
                    font-weight: 400;
                    font-size: 25px;
                    color: #2D2825;
                    margin-bottom: 20px;
                }

                &-title {
                    color: #B17C50;
                    font-weight: 400;
                    font-size: 18px;
                    margin-top: 10px;
                }
            }
        }
    }

    &__wrapper-button {
        margin-top: 60px;
        // max-width: 400px;
        // max-height: 50px;
    }

    &__button {
        border: 1px solid #2D2825;
        padding: 14px 108px;
        color: #2D2825;
        font-weight: 400;
        font-size: 18px;
        &:hover{
            background-color: #2D2825;
            color: white;
        }
        // display: flex;

        // width: 100%;
        // height: 100%;
        // text-align: center;
        @media screen and (max-width: 460px) {
            display: flex;
            width: 100%;
            height: 100%;
            text-align: center;
            padding-left: 90px;
            font-size: 14px;

        }
    }
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}