*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Museo Sans Cyrl 500", sans-serif;
}

input,
textarea,
select {
    -webkit-appearance: none;
}

section {
    margin-top: 120px;
}

@media screen and (max-width: 1160px) {
    section {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 700px) {
    section {
        margin-top: 60px;
    }
}

.scroll-off {
    overflow: hidden;
}

.vissuality-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.dgwt-wcas-suggestions-wrapp {
    top: 70px !important;
    border: none !important;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.06);
    height: calc(100% - 100px) !important;
    position: fixed !important;
}

.dgwt-wcas-st {
    font-size: 12px !important;
}

#mailpoet_woocommerce_checkout_optin_field {
    display: none;
}

.coupon-show {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5px;
    &__text {
        margin-right: auto;
    }
    .woocommerce-remove-coupon {
        width: 100%;
        text-align: right;
        font-weight: 300;
        font-size: 12px;
        line-height: 130%;
        color: #2d2825;
    }
}

.woocommerce-checkout-review-order {
    .coupon-show {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #c4c4c4;
        margin-top: 10px;
        &__text {
            color: #e0cfbf;
            font-weight: 400;
        }
    }
}

@media screen and (max-width: 700px) {
    .tinv-wishlist.woocommerce {
        margin-top: 90px;
    }
}
