*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Museo Sans Cyrl 500", sans-serif;
}

input,
textarea,
select {
    -webkit-appearance: none;
}

section {
    margin-top: 120px;
}

@media screen and (max-width: 1160px) {
    section {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 700px) {
    section {
        margin-top: 60px;
    }
}

.scroll-off {
    overflow: hidden;
}

.vissuality-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.dgwt-wcas-suggestions-wrapp {
    top: 70px !important;
    border: none !important;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.06);
    height: calc(100% - 100px) !important;
    position: fixed !important;
}

.dgwt-wcas-st {
    font-size: 12px !important;
}

#mailpoet_woocommerce_checkout_optin_field {
    display: none;
}
