.breads {
    &__list {
        display: flex;
        list-style: none;
        @media screen and (max-width: 360px) {
            flex-direction: column;
        }

        &-item {
            &:not(:first-child) {
                &::before {
                    content: url(../images/bread.svg);
                    margin-left: 10px;
                    margin-right: 8px;
                    color: #C4C4C4;
                }
            }

            &-link {
                color: #C4C4C4;
                font-weight: 300;
                font-size: 14px;

                &:hover {
                    border-bottom: 1px solid  #C4C4C4;;
                }
            }
        }
    }
}