.card {
    width: 100%;
    max-width: 260px;
    &__top {
        height: 293px;
        position: relative;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
    }

    &__favorite {
        position: absolute;
        right: 14px;
        top: 14px;
        z-index: 2;
        border: none;
        background: none;
        cursor: pointer;
        svg {
            transition: all 0.3s ease;
            path {
                transition: all 0.3s ease;
            }
        }
        &:hover svg {
            path {
                stroke: #b17c50;
            }
        }
        &.active svg {
            fill: #b17c50;
            path {
                stroke: #b17c50;
            }
        }
    }

    &__pic {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    }

    &__pic-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__to-cart {
        background-color: #b17c50;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        width: 100%;
        position: relative;
        z-index: 2;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
        transform: translateY(50px);
        transition: all 0.3s ease;
        &:hover {
            background-color: #e0cfbf;
        }
    }

    &__top:hover &__to-cart {
        transform: translateY(0);
    }

    &__name {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #2d2825;
        margin-top: 15px;
        margin-bottom: 5px;
        height: 22px;
        display: block;
        overflow: hidden;
    }

    &__cost {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #2d2825;
    }
}

@media screen and (max-width: 550px) {
    .card {
        &__top {
            height: 160px;
        }
        &__name {
            height: 12px;
            margin-bottom: 2px;
        }
        &__name,
        &__cost {
            font-size: 10px;
            line-height: 12px;
        }
        &__to-cart {
            font-size: 12px;
            line-height: 14px;
            height: 30px;
        }
        &__favorite {
            width: 15px;
            height: 13px;
            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}
