@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
    font-family: "Museo Sans Cyrl 500";
    // адрес шрифта и тип
    src: url("../fonts/MuseoSansCyrl_500.woff") format("truetype");
    font-style: normal;
    font-weight: normal;
}
