.footer {
    margin-top: 120px;
    overflow: hidden;
    &__top {
        background: url("../images/footer-back.jpg") no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__top-inner {
        padding: 50px 0;
        max-width: 1160px;
        margin: auto;
    }

    &__top {
        &-box {
            max-width: 560px;
            margin-left: auto;
        }
    }

    &__top-pre-title {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #c0ab9a;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        svg {
            margin-right: 10px;
        }
    }

    &__top-title {
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        color: #ffffff;
        margin-bottom: 15px;
    }

    &__top-subtitle {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #ffffff;
        margin-bottom: 50px;
    }

    &__top-form {
        // Убрать
        height: 50px;
    }

    &__body {
        background-color: #2d2825;
        padding-top: 50px;
    }

    &__body-inner {
        display: flex;
        max-width: 1160px;
        margin: auto;
        &:last-child {
            padding: 25px 0;
            margin-top: 50px;
            border-top: 1px solid #3d3632;
        }
    }

    &__col {
        margin-right: 70px;
        &:nth-child(2) {
            margin-left: auto;
        }
        &-title {
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            text-transform: uppercase;
            color: #ffffff;
            margin-bottom: 30px;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    &__social {
        display: flex;
        list-style-type: none;
        margin-top: 100px;
        &-item {
            margin-right: 15px;
            &-link {
                svg {
                    path {
                        transition: all 0.3s ease;
                    }
                }
                &:hover svg path {
                    stroke: #b17c50;
                }
            }
        }
    }

    &__list {
        list-style-type: none;
        &-item {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
            &-link {
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                color: #ffffff;
                display: inline-block;
                white-space: nowrap;
                &::after {
                    transition: all 0.3s ease;
                    content: "";
                    width: 0;
                    height: 1px;
                    background-color: #ffffff;
                    display: block;
                }
                &:hover::after {
                    width: 100%;
                }
            }
        }
    }

    &__text {
        max-width: 260px;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #9d9d9c;
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 10px;
        }
    }

    &__link {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
        display: inline-block;
        white-space: nowrap;
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0;
        }
        &::after {
            transition: all 0.3s ease;
            content: "";
            width: 0;
            height: 1px;
            background-color: #ffffff;
            display: block;
        }
        &:hover::after {
            width: 100%;
        }
    }

    &__info {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #9d9d9c;
        margin-right: auto;
    }

    &__payments {
        list-style-type: none;
        display: flex;
        align-items: center;
    }

    &__payments-item {
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 1160px) {
    .footer {
        &__body {
            &-inner,
            &-inner:last-child {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        &__top-inner {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

@media screen and (max-width: 950px) {
    .footer {
        margin-top: 60px;
        &__social {
            margin-top: 25px;
            margin-bottom: 50px;
        }
        &__body-inner {
            flex-wrap: wrap;
        }
        &__col {
            &:first-child {
                width: 100%;
            }
            &:nth-child(2) {
                margin-left: 0;
            }
        }
    }
}

@media screen and (max-width: 770px) {
    .footer {
        &__social {
            margin-top: 0;
            margin-bottom: 5px;
        }
        &__info {
            margin-bottom: 20px;
        }
        &__body-inner {
            flex-wrap: wrap;
        }
        &__text {
            max-width: 100%;
        }
        &__col {
            margin-right: 20px;
            &:first-child {
                width: 100%;
                display: flex;
                align-items: center;
                margin-bottom: 30px;
                justify-content: center;
                margin-right: 0;
                .footer__logo {
                    margin-right: 20px;
                }
            }
            &:nth-child(2) {
                max-width: 30%;
            }
            &:nth-child(3) {
                max-width: 60%;
                margin-right: 0;
                margin-bottom: 30px;
            }
        }
    }
}
