@import "./fonts";
@import "./base";
@import "./header";
@import "./animations";
@import "./pages/main/main";
@import "./pages/article/article";
@import "./pages/catalog/catalog";
@import "./pages/zagl/zagl";
@import "./pages/about/about";
