@import "./fonts";
@import "./base";
@import "./components/breadcrumbs";
@import "./components/card";
@import "./components/one";
@import "./components/products";
@import "./header";
@import "./footer";
@import "./animations";
@import "./pages/main/main";
@import "./pages/article/article";
@import "./pages/catalog/catalog";
@import "./pages/zagl/zagl";
@import "./pages/about/about";
@import "./pages/404/404";
@import "./pages/cooperation/cooperation";
@import "./pages/vacancies/vacancies";
@import "./pages/thanks/thanks";
@import "./pages/product-page/product-page";
@import "./pages/politic/politic";
@import "./pages/communication/communication";
@import "./pages/cart/cart";
@import "./pages/order/order";
