.cooperation-intro {
    margin-top: 0;

    &__pic {
        width: 100%;
    }

    &__img {
        width: 100%;
    }
}

.cooperation {
    &__inner {
        &:not(:first-child) {
            @media screen and (max-width:1160px) {
                margin-left: 10px;
            }

            @media screen and (max-width:540px) {
                margin-top: 20px;
                margin-left: 0px;
            }
        }
    }

    &__container {
        display: flex;

        @media screen and (max-width:540px) {
            flex-direction: column;
        }

    }

    &__wrapper {
        max-width: 1160px;
        margin: 0 auto;
    }

    &__opt {
        &-subtitle {
            margin: 25px 0px;
            font-weight: 400;
            font-size: 30px;
        }

        &-text {
            max-width: 660px;
            font-weight: 300;
            font-size: 18px;

            &:not(:first-child) {
                margin-top: 15px;
            }
        }
    }

    &__contacts {
        position: sticky;
        top: 0;
        margin-left: 142px;
        margin-top: 80px;

        @media screen and (max-width:1160px) {
            margin-left: 0px;
            margin-top: 0px;
        }

        &-title {
            font-weight: 400;
            font-size: 25px;
        }

        &-numbers {
            display: flex;
            margin-top: 25px;

            @media screen and (max-width:1030px) {
                flex-direction: column;
            }
        }

        &-number {
            &:not(:first-child) {
                margin-left: 41px;

                @media screen and (max-width:1030px) {
                    margin-left: 0px;
                    margin-top: 10px;
                }
            }

            &-subtitle {
                color: #b17c50;
                font-weight: 300;
                font-size: 14px;
                
            }

            &-link {
                font-weight: 300;
                font-size: 20px;
                color: black;
                margin-top: 5px;
            }
        }
    }
}

.form {
    margin-top: 120px;

    &__subtitle {
        font-weight: 400;
        font-size: 25px;
    }

    &__text {
        font-weight: 300;
        font-size: 18px;
    }
}

.qwer {
    margin-top: 8000px;
}

.ru {
    min-height: 800px;
}

@media screen and (max-width: 1160px) {
    .cooperation-intro {
        padding: 0px;
    }
}