.cooperation-intro {
    margin-top: 0;
    &__pic {
        width: 100%;
    }

    &__img {
        width: 100%;
    }
}
.cooperation {
    &__container {
        display: flex;
    }
    &__wrapper {
        padding-left: 220px;
        padding-right: 220px;
    }
    &__opt {
        &-subtitle {
            margin: 25px 0px;
            font-weight: 400;
            font-size: 30px;
        }

        &-text {
            max-width: 660px;
            font-weight: 300;
            font-size: 18px;

            &:not(:first-child) {
                margin-top: 15px;
            }
        }
    }

    &__contacts {
        position: sticky;
        top: 0;
        margin-left: 142px;
        margin-top: 80px;
        &-title {
            font-weight: 400;
            font-size: 25px;
        }

        &-numbers {
            display: flex;
            margin-top: 25px;
        }
        &-number {
            &:not(:first-child) {
                margin-left: 41px;
            }
            &-subtitle {
                color: #b17c50;
                font-weight: 300;
                font-size: 14px;
            }

            &-link {
                font-weight: 300;
                font-size: 20px;
                color: black;
                margin-top: 5px;
            }
        }
    }
}

.form {
    margin-top: 120px;
    &__subtitle {
        font-weight: 400;
        font-size: 25px;
    }

    &__text {
        font-weight: 300;
        font-size: 18px;
    }
}
.qwer {
    margin-top: 8000px;
}
.ru {
    min-height: 800px;
}
